html
  head
    title All messages
    style
      include style.css
  body
    include nav.pug
    br
    br
    br

    h1 Blog
    //- div(class="transbox")
    //-   form(method="post" action ="/search-messages")
    //-     input(type="text" name="search" placeholder="Search messages")
    //-     input(type="submit" value="search")

    -for (var i = 0; i <allMessages.length; i++)
      div
        ul.messages
          li.messages
            h3 #{allMessages[i].title}
            p #{allMessages[i].body}
            p.username Posted by: #{allMessages[i].username}

          if (user)
            form(method="POST" action="/post-comment")
              input.comment(type="text" name="comment" placeholder="Leave your comment")
              input(type="hidden" name="messageId" value=allMessages[i].id)
              input.comment(type="submit" value="Comment")
          else
            p
              a(href="/login") Log in to comment on this message

